#!/bin/ksh
#
# $OpenBSD$
# rc.d(8) script for M/Monit Hub

daemon="/home/syseng/mmonit-hub/.venv/bin/gunicorn"
daemon_user="syseng"
daemon_flags="-w 2 -b 0.0.0.0:8082 \
    --access-logfile /home/syseng/mmonit-hub/logs/access.log \
    --error-logfile /home/syseng/mmonit-hub/logs/error.log \
    --log-level info \
    --daemon \
    --pid /var/run/mmonit-hub.pid \
    --chdir /home/syseng/mmonit-hub \
    app:app"

. /etc/rc.d/rc.subr

pexp="${daemon}.*app:app"
rc_bg=YES
rc_reload=NO

rc_cmd $1
